.header {
  width: 100%;
  height: 12vh;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
.detail {
  margin-top: 0;
  font-size: 8px;
}